{% extends "masters/main.html" %}
{% block title %}PPI.bio - Early Preview{% endblock %}

{% block body %}
<h2>Early Preview</h2>

<p>Thank you for your interest in PPI.bio. PPI.bio is currently in an early preview stage. This means that we've released a version of PPI.bio that is incomplete to the public in the interest of collecting feedback. There are many features that we plan to include in the final version of RAPPPID that are not currently implemented. Furthermore, we have not been able to complete all the validation and verification that PPI.bio is working as intended.</p>

<h3>What are the implications for me?</h3>

<p>Because PPI.bio is in such an early state, we ask that you:</p>

<ul>
    <li>Refrain from using results from PPI.bio in any final analyses, since we have not yet validated whether PPI.bio is outputting information as we intend it to.</li>
    <li>Kindly be patient as bugs and missing features may make the website harder to use than we intend.</li>
    <li>Please don't submit more than a couple jobs at once.</li>
    <li>Be sure to visit the website once it exits this early preview phase.</li>
</ul>

<h3>When will PPI.bio be ready?</h3>
We hope to have PPI.bio ready in the early Spring of 2024. You can receive monthly updates in your inbox by <a href="https://ppi.bio/newsletter/rapppid-updates/subscribe/">subscribing to the newsletter</a>.

{% endblock %}